@{
    Layout = "~/_SiteLayout.cshtml";

    var db = Database.Open("db");
    var polozky = db.Query(@"SELECT * FROM prijem_vydaj p inner join kategoria k on p.kategoria_id = k.id");
    

}

<div class="container mt-5">
    <h2>Filter</h2>
    <form>
        <div class="form-row">
            <div class="form-group col-md-3">
                <label for="typ">Typ</label>
                <select id="typ" class="form-control">
                    <option selected>vyber...</option>
                    <option value="prijem">príjmy</option>
                    <option value="vydaj">výdaje</option>
                </select>
            </div>

            <div class="form-group col-md-4">
                <label for="kategoria">Kategória</label>
                <select id="kategoria" class="form-control">
                    <option selected>vyber...</option>
                    <option value="1">trvalý príjem</option>
                    <option value="2">trvalý výdaj</option>
                    <option value="3">oblečenie</option>
                    <option value="4">drogéria</option>
                    <option value="5">iné</option>
                </select>
            </div>
                      
            <div class="form-group col-md-3">
                <label for="cena">Cena</label>
                <select id="cena" class="form-control">
                    <option selected>vyber...</option>
                    <option>od najmenšej</option>
                    <option>od najväčšej</option>
                </select>
            </div>

            <div class="form-group col-md-2">
                <label for="rok">Rok</label>
                <select id="rok" class="form-control">
                    <option selected>vyber...</option>
                    <option>2018</option>
                    <option>2017</option>
                    <option>2016</option>
                </select>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Filtruj</button>
    </form>
</div>

<div class="container mt-5">
    <div class="row">
        <div class="col">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">Dátum</th>
                        <th scope="col">Položka</th>
                        <th scope="col">Kategória</th>
                        <th scope="col">Cena</th>
                    </tr>
                    </thead>
                    <tbody>

                    @foreach(var p in polozky){
                        var clazz = "table-danger";
                        var clazz2 = "text-danger";
                        if(p.druh_polozky.Equals("prijem")){
                            clazz = "table-success";
                            clazz2 = "text-success";
                        }
                        <tr class="@clazz">
                            <th scope="row">@p.datum.ToString("dd/MM/yyyy")</th>
                            <td><a href="~/PrehladPolozky/@p.id">@p.nazov_polozky</a></td>
                            <td>@p.kategoria</td>
                            <td class="@clazz2">@p.cena</td>
                        </tr>
                    }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
