@{
   Layout = "~/_SiteLayout.cshtml"; 

   var db = Database.Open("db");
   var vydaje = db.QueryValue("select sum(cena) from prijem_vydaj where druh_polozky = 'vydaj';");
   var prijmy = db.QueryValue("select sum(cena) from prijem_vydaj where druh_polozky = 'prijem';");

   var datum = DateTime.Now;
   var zaciatokMesiaca = new DateTime(datum.Year, datum.Month, 1);
   var pocetDniMesiaca = DateTime.DaysInMonth(datum.Year, datum.Month);
   var koniecMeisaca = new DateTime(datum.Year,datum.Month, pocetDniMesiaca);


   var tentoMesiacPrijem = db.QueryValue(@"select sum(cena) from prijem_vydaj where druh_polozky = 'prijem' 
                            and datum between @0 and @1;", zaciatokMesiaca, koniecMeisaca);
   var tentoMesiacVydaj = db.QueryValue(@"select sum(cena) from prijem_vydaj where druh_polozky = 'vydaj' 
                            and datum between @0 and @1;", zaciatokMesiaca, koniecMeisaca);

    var tentoMesiacDataPrijem = db.Query(@"select * from prijem_vydaj where druh_polozky = 'prijem' 
                            and datum between @0 and @1;", zaciatokMesiaca, koniecMeisaca);
    var tentoMesiacDataVydaj = db.Query(@"select * from prijem_vydaj where druh_polozky = 'vydaj' 
                            and datum between @0 and @1;", zaciatokMesiaca, koniecMeisaca);

    var minulyMesiacZaciatok = zaciatokMesiaca.AddMonths(-1);
    var minulyMesiacPcetDni = DateTime.DaysInMonth(minulyMesiacZaciatok.Year, minulyMesiacZaciatok.Month);
    var koniecMinulehoMesiaca = new DateTime(minulyMesiacZaciatok.Year,minulyMesiacZaciatok.Month, minulyMesiacPcetDni);


    var minulyMesiacPrijem = db.QueryValue(@"select sum(cena) from prijem_vydaj where druh_polozky = 'prijem' 
                            and datum between @0 and @1;", minulyMesiacZaciatok, koniecMinulehoMesiaca);
    var minulyMesiacVydaj = db.QueryValue(@"select sum(cena) from prijem_vydaj where druh_polozky = 'vydaj' 
                            and datum between @0 and @1;", minulyMesiacZaciatok, koniecMinulehoMesiaca);


    var naposledyPridane = db.Query("select top 10 * from prijem_vydaj order by datum desc;");
}


<div class="container mt-3">
    <h2>Celkové príjmy - výdaje</h2>
    <div class="row text-center">
        <div class="col headline-size">
            <span class="badge badge-pill badge-success">@prijmy</span> -
            <span class="badge badge-pill badge-danger">@vydaje</span>
        </div>
    </div>
</div>

<div class="container mt-4">
    <h1>Tento mesiac</h1>
    <div class="row">
        <div class="col">
            <p>príjem: <span class="text-success">@tentoMesiacPrijem</span></p>
            <p>výdaj: <span class="text-danger">@tentoMesiacVydaj</span></p>
        </div>


        @GrafyHelper.mojGraf(tentoMesiacDataPrijem, "prijem", "graf1")
        @GrafyHelper.mojGraf(tentoMesiacDataVydaj, "vydaj", "graf2")
    </div>
</div>

<div class="container" style="margin-top: 30px;">
    <h1>Minulý mesiac</h1>
    <div class="row">
        <div class="col-sm-3">
            <p>príjem: <span class="text-success">@minulyMesiacPrijem</span></p>
            <p>výdaj: <span class="text-danger">@minulyMesiacVydaj</span></p>
        </div>

        @GrafyHelper.mojGraf(tentoMesiacDataPrijem, "prijem", "graf3")
        @GrafyHelper.mojGraf(tentoMesiacDataVydaj, "vydaj", "graf4")
    </div>
</div>

<div class="container"  style="margin-top: 30px;">
    <h2>Naposledy pridané položky:</h2>
    <div class="row">
        <div class="col">
            <dl>
                @foreach(var polozka in naposledyPridane){

                    var clazz = "badge-success";
                    if("vydaj".Equals(polozka.druh_polozky)){
                        clazz = "badge-danger";
                    }
                    <dt><a href="~/PrehladPolozky/@polozka.id">@polozka.nazov_polozky</a></dt>
                    <dd>@polozka.popis <span class="badge @clazz">@polozka.cena euro</span></dd>
                }
           </dl>
        </div>  
    </div>
</div>

<div class="container text-center mt-5">
    <a href="~/Prehlad" class="btn btn-lg btn-primary">Prehľad</a>
</div>

<script>
    window.onload = function(){
        @ScriptHelper.mojScript(tentoMesiacDataPrijem, "prijem", "graf1")
        @ScriptHelper.mojScript(tentoMesiacDataVydaj, "vydaj", "graf2")
        @ScriptHelper.mojScript(tentoMesiacDataPrijem, "prijem", "graf3")
        @ScriptHelper.mojScript(tentoMesiacDataVydaj, "vydaj", "graf4")
    }
</script>
