@{
    Layout = "~/_SiteLayout.cshtml";

    WebSecurity.RequireAuthenticatedUser();

    bool isEdit = false;
    if ( (UrlData[0] != null && !UrlData[0].IsEmpty() && UrlData[0].Equals("Edit"))
        || (Request.Form["EditBtn"]!=null && Request.Form["EditBtn"].Equals("Edit")) )
    {
        isEdit = true;
    }

    var id = -1;
    if (isEdit)
    {
        if (!Int32.TryParse(UrlData[1], out id))
        {
            Response.Redirect("~/Error?msg=fdjsaklfjdsaf sadfs");
        }

    }

    var db = Database.Open("db");
    var kategorie = db.Query("SELECT * FROM kategoria");

    dynamic polozka = null;

    if (isEdit)
    {
        polozka = db.QuerySingle(@"SELECT * FROM prijem_vydaj p 
                        inner join kategoria k on p.kategoria_id = k.id 
                        where p.id = @0", id);
    }


    Validation.Add("cena",
        Validator.Required("musis zadat cenu")
    );

    Validation.RequireField("nazov", "musis zadat nazov");
    Validation.RequireField("datum", "musis zadat datum");
    Validation.RequireField("popis", "musis zadat popis");

    dynamic cena = "";
    dynamic datum = "";
    var popis = "";
    dynamic kat = "";
    var druhPolozky = "";
    var nazov = "";

    if (isEdit)
    {
        cena = polozka.cena;
        nazov = polozka.nazov_polozky;
        datum = polozka.datum.ToString("yyyy-MM-dd");
        popis = polozka.popis;
        kat = polozka.kategoria_id;
        druhPolozky = polozka.druh_polozky;
    }


    var errorMsg = "";
    var okMsg = "";
    bool valid = true;
    if (IsPost) {
        cena = Request.Form["cena"].AsInt();
        if (cena < 0) {
            errorMsg += "Cena musí byť viac ako 0.<br>";
            valid = false;
        }

        kat = Request.Form["kategoria"];
        if (kat.Equals("-1")) {
            errorMsg += "Musíš zadať kategóriu.<br>";
            valid = false;
        }

        if (Validation.IsValid() && valid) {
            cena = Request.Form["cena"].AsInt();
            nazov = Request.Form["nazov"];
            datum = Request.Form["datum"];
            popis = Request.Form["popis"];
            kat = Request.Form["kategoria"];
            druhPolozky = Request.Form["druhPolozky"];

            if (!isEdit)
            {
                db.Execute(@"INSERT INTO prijem_vydaj (nazov_polozky,popis,cena,datum, druh_polozky, kategoria_id) 
                VALUES (@0,@1,@2,@3,@4,@5)", nazov, popis, cena, datum, druhPolozky, kat);
            }
            else
            {
                db.Execute(@"UPDATE prijem_vydaj SET 
                    nazov_polozky=@0,popis=@1,cena=@2,datum=@3,druh_polozky=@4, kategoria_id=@5
                    WHERE id=@6", nazov, popis, cena, datum, druhPolozky, kat, Request.Form["id"]);
            }
            okMsg = "všetko sa uložilo vporiadku";
        } else {
            valid = false;
        }
    }
}

<div class="container">
    <h1 class="mt-4">Pridaj príjem / výdaj</h1>

    @if (!valid)
    {
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            @Html.ValidationSummary()
            @Html.Raw(errorMsg)
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    }

    @if (!okMsg.IsEmpty())
    {
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            @okMsg
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    }

        <form method="post">
            @if (isEdit)
            {
                <input type="hidden" name="id" value="@id" />
            }
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="nazov">Názov položky</label>
                    <input type="text" class="form-control"
                           value="@nazov" id="nazov" name="nazov" placeholder="Názov položky">
                </div>
                <div class="form-group col-md-2">
                    <label for="cena">Cena</label>
                    <input type="text" class="form-control"
                           value="@cena" id="cena" name="cena" placeholder="Cena">

                </div>
                <div class="form-group col-md-2">
                    <label for="datum">Dátum</label>
                    <input type="date" class="form-control"
                           value="@datum" id="datum" name="datum" placeholder="Dátum">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col">
                    <label for="popis">Popis</label>
                    <textarea class="form-control" rows="5" name="popis">@popis</textarea>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col">
                    <label for="druhPolozky">Druh položky</label>
                    <select class="form-control" id="druhPolozky" name="druhPolozky">
                        <option value="prijem" @{if (druhPolozky.Equals("prijem")) { <text> selected</text> } }>Príjem</option>
                        <option value="vydaj" @{if (druhPolozky.Equals("vydaj")) { <text> selected</text> } }>Výdaj</option>
                    </select>
                </div>
                <div class="form-group col">
                    <label for="kategoria">Kategoria</label>
                    <select class="form-control" id="kategoria" name="kategoria">
                        <option value="-1"> --- vyber --- </option>
                        @foreach (var kategoria in kategorie)
                        {
                            <option value="@kategoria.id" @{if (kat.Equals(kategoria.id)) { <text> selected</text> } }>
                                @kategoria.kategoria
                            </option>
                        }
                    </select>
                </div>
            </div>

            @if (isEdit)
            {
                <button type="submit" class="btn btn-primary" name="EditBtn" value="Edit">Uprav</button>
            }
            else
            {
                <button type="submit" class="btn btn-primary">Pridaj</button>
            }
        </form>
</div>